@charset "UTF-8";

.pc .main-menu {
	display: none !important;
}

.findPW{
	font-weight: bold;
	width: 70%;
	margin:50px auto; 
	padding:0;
	background-color: #FFF;
	font-size:14px;
	display:flex;
	flex-direction:column;
	/* margin-top: 100px; */
	color:#8a8d8d;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
}

.findPW h2 { 
	color: #000000; 
	margin-top: 100px;
	font-size: 22px;
	font-family: 'Noto Sans KR', sans-serif;
}

.findPW h1 { 
	color: #000000; 
	line-height: 40px;
	font-size: 30px;
	font-family: 'Noto Sans KR', sans-serif;
}

.findPW h4 {
	font-weight:bold;
	color: #5F04F9;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:12px;
	margin: 0;
}

.br-span, .br-span2 {
	display: none;
}

.subject_underline {
	border-bottom: solid 1px #000000;
}	

.subject_underline2 {
	margin-top : -10px;
	border-bottom: solid 1px #c0c0c0;
}	

.information {
	margin-top: 5px;
	margin-bottom: 35px;
	font-family: 'Noto Sans KR', sans-serif;
}

.find-inner-div {
	margin: 0px 10px;
}		

.find-inner-input {
	width: 100%;
}

.inner-div-col {
	padding: 0px;
	
}

.information label {
	display: inline-flex;
	align-items: center;
	margin-bottom: 15px;
}

.userpw {
	margin-top: 20px;
}

.userpw input {
	width: 95%;
	height: 35px;
	margin: 10px 0;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px 10px;
	border: 1px solid #f0f0f0;
	background-color: #f0f0f0;
	outline-style: none;
	color: #000000;
	font-family: 'Noto Sans KR', sans-serif;
	
}


input:focus {
	background: #ffffff;
	box-shadow: 0 0 0 1px #5f04f9;
}

.submit {
	text-align: center;
	padding: 60px;
 	width: 100%;
 	display: flex;
	justify-content: center;
	align-items: center;
}
		
.submit input {
	width: 150px;
	height: 50px;
	border: 0;
	outline: none;
	border-radius: 5px;
	background: #5F04F9;
	color: white;
	font-size: 1.2em;
	letter-spacing: 2px;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: center;
}

@media screen and (max-width:991px) {
	.findPW {
		width: 100%;
	}
	
	.br-span {
		display: none;
	}
}

@media screen and (max-width:575px) {
	.findPW h2 {
		padding-left: 20px;
		margin-top: 30px;
	}
	
	.findPW h1 {
		padding-left: 20px;
		font-size: 28px;
	}
	
	.findPW h4 {
		width: 150%;
	}
	
	.find-inner-div {
		display: block !important ;
	}	
	
	.inner-div-col {
		padding-left: 15px;
	}
	
	.information label {
		margin: 0;
		font-size: 15px;
	}
	
	.userpw input {
		width: 170%;
		height: 45px;
		font-size: 15px;
	}
	
}

@media screen and (max-width:495px) {
	.br-span {
		display: inline;
	}
}

@media screen and (max-width:387px) {
	.br-span2 {
		display: inline;
	}
}

