@charset "UTF-8";

.error{
	margin-top : 20px;
}

.alert-danger{
	color : #FF6500 !important;
}

.login { 
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	margin-top: 60px;
}
	
.login h2 { 
	font-size: 32px; 
	color: #000000; 
	font-family: 'Noto Sans KR', sans-serif;
	margin-top: 21px;
}

a {
  text-decoration: none;
  color: #474d55;
  font-family: 'Noto Sans KR', sans-serif;
}

.login_id {
  margin-top: 20px;
  width: 460px;
}

.login_id input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid #a6adb6;
  outline-color: #5f04f9;
  color: #000000;
  font-family: 'Noto Sans KR', sans-serif;
}

.login_id input::placeholder {
	color: #a6adb6;
}

.login_pw {
  margin-top: 20px;
  width: 460px;
}

.login_pw input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid #a6adb6;
  outline-color: #5f04f9;
  color: #000000;
  font-family: 'Noto Sans KR', sans-serif;
}

.login_pw input::placeholder {
	color: #a6adb6;
}

.submit {
  margin-top: 40px;
  width: 460px;
  
}
.submit input {
  width: 100%;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 5px;
  background: #5F04F9;
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-family: 'Noto Sans KR', sans-serif;
}

.sign {
	margin-top: 20px;
	text-decoration: none;
	font-size: 14px; 
	position: relative;
 	color: #dedede;
 	font-family: 'Noto Sans KR', sans-serif;
 	display: flex;
 	justify-content: center;
}

.sign ul {
	padding: 0px;
	margin-top: 10px;
}

.social-icons {
	display: flex; 
	justify-content: center;
	margin-top: 10px;
}
.alert-danger {
    padding-left: calc(1.5em + 0.75rem)!important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

input.form-control:focus {
	border-color: #5f04f9;
}

form.was-validated input:invalid {
        border-color: #ff6500 !important;
        }
        .form-control:valid {
           border-color: #dddddd !important;             
        }

        .form-control.is-valid, .was-validated .form-control:valid {
            background-image: none !important;
        }
		.valid-feedback { 
             color: #5f04f9 !important; 
        }
         .invalid-feedback {
            color: #ff6500 !important;
        }  

@media screen and (max-width:479px) {	
	.login_pw input, .login_id input {
		font-size: 16px;
	}
	.login_id {
		width: 100%;
	}
	.login_pw {
		width: 100%;
	}
	
	.submit {
		width: 100%;
	}
	
	form.needs-validation {
		width: 100%;
	}
	
	.login {
		padding: 0px 30px;
	}
}

@media screen and (max-width:390px) {
	.needs-validation {
		margin: 0px 20px;
	}
	.login_pw input {
		font-size: 15px;
	}
	
}
