@charset "utf-8";
* {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
#body {
    margin-top: 20px;
    text-align: center;
}

#done {
    height: 250px;
    width: 250px;
}
#thankyou > p {
    font-size: 30px;
}
#link {
    display: flex;
    justify-content: space-evenly;
}
#link > a {
    color: white;
    font-size: 20px;
    display: inline-block;
    line-height: 67px;
    width: 300px;
    height: 70px;
    text-decoration: none;
    margin: 10px;
}
#link > a:first-child {
    background-color: #5622ad;
}
#link > a:last-child {
    background-color: #666666;
}