.row {
    margin: 0px !important;
}
#faq-page {
    display: flex;
    margin: 30px auto;
    min-height: 500px;
}
#menu-bar {
    width: 250px;
    padding-left: 15px;
}
.menu-list {
    padding: 0px;
    list-style: none;
}
.menu-list li{
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: normal;
}
.menu-list li:first-child {
    margin: 20px 0px;
}
.menu-list li:last-child a {
    font-weight: bold;
    color: #5622ad;
}
.menu-list li a {
    color: #666;
}
#rsv-div {
    padding-right: 15px;
    width: 100%;
}
.list_wrap {
    padding: 0px;
    list-style: none;
}
.list_wrap li {
    padding: 0px;
}
#reserved-div {
    margin-bottom: 30px;
}
.reserved-title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px 0px;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #c2c2c2;
}
#used-div {
    margin-bottom: 30px;
}
.used-title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #c2c2c2;
}
.cancel-title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #c2c2c2;
}
.cancel ul{
    list-style: none;
    padding: 20px 20px;
}

.card {
    margin: 0px auto;
    width: 95%;
    background-color: #ffffff;
    text-align: center;
    align-content: center;
    position: relative;
}
.card img {
    width: 100%;
    height: 255px;
    object-fit: cover;
    cursor: pointer;
}
.card-body {
    padding: 15px;
    cursor: pointer;
}
.card .close {
    position: absolute;
    right: 0px;
    padding: 5px 5px 0px 0px;
}
.card .close button {
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
}
.rsv-detail {
    padding: 0px;
    margin: 40px 0px;
}
.card-body-status-1 {
    margin: 0px 0px 15px 0px;
}
.card-body-status-1 span {
    color: #fff !important;
    /* background-color: #5f04f9; */
    background-color: rgba(95, 4, 249, 0.8);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    padding: 0px 5px;
}
.card-body-status-2 {
    margin: 0px 0px 15px 0px;
}
.card-body-status-2 span {
    color: #444444;
    background-color: #c2c2c2;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    padding: 0px 5px;
}
.card-body-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin: 0px 0px;
}
.card-body-content {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin: 0px 0px;
}
.card-body-btn {
    margin-top: 15px;
    color: #5f04f9;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    background-color: #fff;
    border-style: none;
}
.card-body-btn:hover {
    background-color: #5f04f9;
    color: #fff;
}
.card-body-btn:focus {
    box-shadow: none;
    background-color: #5f04f9;
    color: #fff;
}
.none-message {
	width: 100%;
	padding: 40px 0px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #666666;
}

@media screen and (max-width:992px) {
    #faq-page {
        display: block;
        margin-top: 0px;
        padding: 0px 15px;
    }
    #rsv-div {
        padding: 0px;
    }
    #menu-bar {
        width: 100%;
        padding: 0px;
    }
    .menu-list {
        padding: 0px;
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .menu-list li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-list li:first-child {
        margin: 0px;
    }
    .menu-list li a {
        text-align: center;
        display: block;
        padding: 20px;
        width: 100%;
    }
    .menu-list li:last-child {
        background-color: #c2c2c2;
    }
    .menu-list li:last-child a {
        font-weight: normal;
        color: #fff;
    }
    .menu-list li:first-child {
        background-color: #fff;
        border-bottom: 1px solid #c2c2c2;
    }
}
@media screen and (max-width:576px) {
	#faq-page {
		padding: 0px !important;
	}
	.menu-list {
		padding: 0px !important;
	}
	.reserved-title, .used-title, .cancel-title {
		padding: 0px 10px 20px;
	}
}